@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hard-shadow: 0px 29px 52px 0px rgba(0, 0, 0, 0.4),
      22px 25px 16px 0px rgba(0, 0, 0, 0.2);
    --hard-shadow-left: 0px 29px 52px 0px rgba(0, 0, 0, 0.4),
      -22px 25px 16px 0px rgba(0, 0, 0, 0.2);
    --background: 270 8% 95%;
    --foreground: 270 8% 5%;

    --card: 270 8% 95%;
    --card-foreground: 270 8% 5%;

    --popover: 270 8% 95%;
    --popover-foreground: 270 8% 5%;

    --primary: 264 100% 50%;
    --primary-foreground: 300 9% 98%;

    --secondary: 264 11% 91%;
    --secondary-foreground: 270 8% 5%;

    --muted: 255 9% 91%;
    --muted-foreground: 266 9% 45%;

    --accent: 264 11% 91%;
    --accent-foreground: 270 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 9% 87%;
    --input: 260 9% 81%;
    --ring: 264 36% 72%;

    --radius: 0.5rem;
    --primary-lighter-hex: theme("colors.primary.200");
    --secondary-lighter-hex: theme("colors.secondary.200");
    --primary-dark-hex: theme("colors.primary.800");
    --secondary-dark-hex: theme("colors.secondary.800");
  }

  /* .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
  } */

  .dark {
    --background: 60 4% 5%;
    --foreground: 0 0% 98%;

    --card: 60 4% 5%;
    --card-foreground: 0 0% 98%;

    --popover: 60 4% 5%;
    --popover-foreground: 0 0% 98%;

    --primary: 24 68% 31%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 2% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 30 3% 15%;
    --muted-foreground: 24 2% 49%;

    --accent: 27 18% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 2% 12%;
    --input: 30 2% 18%;
    --ring: 24 69% 40%;
  }
  *,
  ::before,
  ::after {
    @apply border-gray-100 dark:border-neutral-800;
  }

  * {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold font-display;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /**
   * Perspective (used for images etc.)
   */
  .perspective-none {
    transform: none;
  }

  .perspective-left {
    box-shadow: var(--hard-shadow);
    transform: perspective(400em) rotateY(-15deg) rotateX(6deg)
      skew(-8deg, 4deg) translate3d(-4%, -2%, 0) scale(0.8);
  }

  .perspective-right {
    box-shadow: var(--hard-shadow-left);
    transform: perspective(400em) rotateY(15deg) rotateX(6deg) skew(8deg, -4deg)
      translate3d(4%, -2%, 0) scale(0.8);
  }

  .perspective-bottom {
    box-shadow: var(--hard-shadow);
    transform: translateY(-4%) perspective(400em) rotateX(18deg) scale(0.9);
  }

  .perspective-bottom-lg {
    box-shadow: var(--hard-shadow);
    transform: perspective(400em) translate3d(0, -6%, 0) rotateX(34deg)
      scale(0.8);
  }

  .perspective-paper {
    box-shadow: var(--hard-shadow);
    transform: rotateX(40deg) rotate(40deg) scale(0.8);
  }

  .perspective-paper-left {
    box-shadow: var(--hard-shadow-left);
    transform: rotateX(40deg) rotate(-40deg) scale(0.8);
  }

  /**
   * Custom shadows
   */
  .hard-shadow {
    box-shadow: var(--hard-shadow);
  }

  .hard-shadow-left {
    box-shadow: var(--hard-shadow-left);
  }

  /**
   * Container utilities
   */
  .container-narrow {
    @apply max-w-4xl;
  }

  .container-wide {
    @apply xl:max-w-6xl;
  }

  .container-ultrawide {
    @apply xl:max-w-7xl;
  }
}

.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.AccordionChevron {
  transition: transform 300ms;
  rotate: -90deg;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(90deg);
}
